includes:
    - vendor/shopwarelabs/phpstan-shopware/rules.neon
parameters:
    level: 6
    paths:
        - src

    # Add this section to link your standalone theme to the Shopware installation
    scanDirectories:
        - %currentWorkingDirectory%/../Shopware-storefront-src