{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_info %}
    {{ parent() }}

    {# Use .elements to access the collection if count fails #}
    {% if product.categories and product.categories.count > 0 %}
        <div class="product-category-links">
            {% for category in product.categories %}
                <a href="{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}"
                   class="product-category-link">
                    {{ category.translated.name }}
                </a>
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}