{% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}

{% block layout_header_logo_image %}
<span class="ingos-header-logo-text d-block m-auto">
{{ config('core.basicInformation.shopName') }}
</span>
{% endblock %}
