{% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}

{% block layout_header_logo_image %}
    {{ parent() }}
    <span class="ingos-open-mind-culture-theme-site-title">{{ 'header.logoLink'|trans|striptags }}</span>
{% endblock %}
