{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_container %}
    {{ parent() }}
    {% if page.cart.lineItems.count == 0 %}
        {% if page.cart.lineItems.count == 0 %}
            <h2>{{ "ingos.openMindCultureTheme.cartCrossSellersTitle"|trans }}</h2>
            <div class="row">
                {% for product in page.crossSellers %}
                    <div class="col-6 col-md-4">
                        {% sw_include '@Storefront/storefront/component/product/card/box.html.twig' with {
                            product: product,
                            layout: 'standard'
                        } %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}